<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> v-model 数据源绑定</title>
    <script src="../assets/js/vue.js"></script>
</head>

<body>
    <h1>v-model 双向数据源绑定</h1>
    <hr>
    <div id="app">
        <p>原始文本信息：{{message}}</p>
        <div>
            <!--文本框  -->
            <h4>文本框</h4>
            <p>v-model (文本)：<input type="text" v-model="message"></p>
            <p>v-model.lazy (懒加载)：<input type="text" v-model.lazy="message"></p>
            <p>v-model.number (数字)：<input type="text" v-model.number="message"></p>
            <p>v-model.trim (空格)：<input type="text" v-model.trim="message"></p>
            <hr>
            <!--文本域  -->
            <h4>文本域</h4>
            <textarea rows="10" cols="30" v-model="message"></textarea>
            <hr>
            <!--多选框绑定值  -->
            <h4>多选框绑定一个值</h4>
            <input type="checkbox" id="isTrue" v-model="trueA">
            <label for="isTrue">{{trueA}}</label>
            <hr>
            <!--多选框绑定数组  -->
            <h4>多选框绑定数组</h4>
            <input type="checkbox" id="jay" value="jay" v-model="web_name">
            <label for="isTrue">jay</label>
            <input type="checkbox" id="coco" value="coco" v-model="web_name">
            <label for="isTrue">coco</label>
            <input type="checkbox" id="gigi" value="gigi" v-model="web_name">
            <label for="isTrue">gigi</label>
            <br>
            <!--两种方法  -->
            <p>{{web_name}}</p>
            <p v-text="web_name"></p>
            <hr>
            <h4>单选框绑定</h4>
            <input type="radio" id="one" value="男" v-model="sex">
            <label for="isTrue">男</label>
            <input type="radio" id="two" value="女" v-model="sex">
            <label for="isTrue">女</label>
            <p>请选择你的性别：{{sex}}</p>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                message: '人有很多面，关键看发现',
                trueA: true,
                web_name: [],
                sex:'男'

            }
        })
    </script>
</body>

</html>